.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 117px;

  @media (max-width: 500px) {
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 10px;
  }

  &__social {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin-top: 98px;

    @media (max-width: 500px) {
      margin-top: 50px;
    }
  }

  &__about {
    &__name {
      font-family: "Fira Mono", monospace;
      font-weight: normal;
      font-size: 6.4rem;
      margin: 52px 0 3px 0;

      @media (max-width: 500px) {
        margin: 30px 0 3px 0;
      }
    }
    &__role {
      font-family: "Istok Web", sans-serif;
      font-weight: normal;
      font-size: 1.8rem;
      margin: 0;
      // margin-left: 83px;
    }
    &__me {
      font-family: "Istok Web", sans-serif;
      font-weight: normal;
      font-size: 1.8rem;
      margin: 0;
      padding-top: 10px;
      // margin-left: 83px;
    }
  }
}
