.projects--project {
  display: flex;
  padding: 10px;
  padding: 118px 0;
  border-bottom: 1px solid #fff;
  width: 100%;

  &--img-container {
    &__img {
      width: 587px;
      height: 334px;
    }
  }

  &--text-container {
    display: flex;
    flex-flow: column nowrap;
    padding-left: 85px;
    font-family: "Istok Web", sans-serif;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.6rem;

    &__name {
      margin: 0;
      padding: 0;
      font-size: 3.6rem;
      font-family: "Fira Mono", monospace;
      font-weight: 500;
      line-height: 4.3rem;
    }

    &__role {
      font-family: "Istok Web", sans-serif;
      font-weight: bold;
      margin: 0;
      padding: 8px 0 6px 0;
    }

    &__description {
      margin: 0;
      padding: 6px 0;
    }

    &__contribution {
      margin: 0;
      padding: 6px 0;
    }

    &--buttons {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      margin-top: auto;
      gap: 32px;
      font-weight: bold;
    }
  }
}
