.skill-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 163px;
  width: 100%;

  &--category {
    width: 100%;

    &__name {
      font-size: 36px;
      margin-bottom: 8px;
    }

    &__skills {
      display: flex;
      flex-flow: row wrap;
      gap: 12px 12px;
    }
  }
}
