.skill-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 163px;
  width: 100%;

  @media (max-width: 500px) {
    grid-template-columns: 1fr;
    grid-gap: 10px;
    width: 100%;
  }

  &--category {
    width: 100%;

    &__name {
      font-family: "Fira Mono", monospace;
      font-weight: normal;
      font-size: 3.6rem;
      margin-bottom: 8px;
    }

    &__skills {
      display: flex;
      flex-flow: row wrap;
      gap: 12px 12px;
    }
  }
}
