#root {
  width: 100%;
}

.app {
  margin: 0 15%;

  @media (max-width: 500px) {
    margin: 0 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
}

html {
  font-size: 62.5%;
}

body {
  background-color: #202020;
  color: #fff;
  display: flex;
  justify-content: center;
}
